form {
    width: 80%;
    margin: 0 auto;
}
label,
input[type="text"] {
    display: inline-block;
}
h2 {
    width: 30%;
    text-align: right;
}
label {
    width: 30%;
    text-align: right;
}
label + input[type="text"] {
    width: 30%;
    margin: 0 30% 0 4%;
}
label + .buttons {
    width: 30%;
    display: inline-block;
    text-align: right;
    margin: 0 30% 0 4%;
}
